:root {
    --color-primary: #678fad;
    --color-secondary: #c4b896;
    --color-dark: #2c2c2c;
    --color-light: #f5f5f5;
    --color-white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.unbounded-unbpolice {
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
}


body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color-dark);
    line-height: 1.6;
}

/* Header et navigation */
header{
    background-color: var(--color-white);
    padding: 20px 0;
    border-bottom: 1px solid #e0e0e0;
    position: sticky;
    top:0;
    z-index: 100;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.logo img{
    height: 50px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-links a {
    font-family: "Unbounded", sans-serif;
    text-decoration: none;
    color: var(--color-dark);
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a.active{
    color: var(--color-primary);
}

.nav-links a:hover {
    color: var(--color-primary);
}

.btn-contact {
    font-family: "Unbounded", sans-serif;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 20px 30px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: opacity 0.3s;
}

.btn-contact:hover {
    opacity: 0.9;
}

/* Hero Section */
.hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.hero-content {
    flex: 1;
}

.hero-content h1 {
    font-family: "Unbounded", sans-serif;
    font-size: 68px;
    font-weight: 400;
    line-height: 66px;
    color: var(--color-dark);
    display: table;
    text-align: left;
    width: 675px;
    height: 132px;
}

.hero-subtitle {
    font-size: 14px;
    color: #999;
}

.hero-subtitle a {
    color: var(--color-primary);
    text-decoration: none;
}

.hero-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.circle-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.cards-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 40px 80px;
    display: grid;
    grid-template-columns: 1.05fr 0.95fr;
    gap: 30px;
    align-items: stretch;
}